* {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
}

/* header*/

header{
  background-color: black;
}

      .menu{

          background-color: #223148;
          display: flex;
          flex-flow: row nowrap;
          height: 83px;
          align-items: center;
      }

       .logo {

          background-color: #dd3c44;
          flex: 1 1 auto;
          height: 29px;
      }

      .img {

          background-color: #dd3c44;
          flex: 5 1 auto;
          height: 29px;

      }

       .icon{

          background-color: #dd3c44;
          flex: 1 1 auto;
          height: 29px;
      }

nav {

  background-color: #e6632d;
  display: flex;
  flex-flow: row nowrap;
  height: 83px;
  align-items: center;
}

      nav div{

        background-color: #f7b943;
        flex: 1 1 auto;
        height: 29px;

      }

/* seccio principal */

section {
  background-color: black;
  display: flex;

}

article {

  background-color: #3d3c58;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;

}
      .article {
        background-color: #1d58a3;
        flex: 1 1 40%;
        height: 29px;
      }

      article nav {
        background-color: #6093b9;
        flex: 1 1 100%;
        height: 29px;
      }


aside { 

  background-color: #ed2340;
  flex: 1 1 auto;
}

      aside div {
         background-color: #fee66c;
         height: 29px;
       }

/* peu de pagina */

footer {
  background-color: black;
}

      footer div {

        background-color: #dc9f17;
        height: 29px;

      }

@media all and (max-width: 800px) {
   section {
     flex-direction: column;
     background-color: #ffff00;
   }

}

@media all and (max-width: 1000px){

  section {
    flex-direction: column;
    background-color: #ffff00;
  }
}